@model WebApplicationMVC.ViewModels.Students.CreateStudentFormModel

@{
    // Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link rel="stylesheet" href="~/css/action.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>

    <div class="d-flex align-items-center mb-4">
        <div class="me-3" style="margin-left: -60px;">
            <a asp-controller="Students" asp-action="Index" class="text-decoration-none text-dark">
                <i class="bi bi-arrow-left fs-3"></i>
            </a>
        </div>

        <div class="container">
            <h4>Ученик</h4>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MiddleName" class="control-label"></label>
                        <input asp-for="MiddleName" class="form-control" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateOfBirth" class="control-label"></label>
                        <input asp-for="DateOfBirth" class="form-control" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check mb-3">
                        <input asp-for="IsPrivate" class="form-check-input" type="checkbox" id="isPrivateCheckbox" />
                        <label class="form-check-label" for="isPrivateCheckbox">Индивидуальное занятие</label>
                    </div>

                    <div class="form-group" id="groupSelect">
                        <label asp-for="GroupId" class="control-label">Группа</label>
                        <select asp-for="GroupId" class="form-control" asp-items="ViewBag.Groups">
                            <option value="">-- выберите группу --</option>
                        </select>
                    </div>

                    <div class="form-group" id="courseSelect">
                        <label asp-for="CourseId" class="control-label">Курс</label>
                        <select asp-for="CourseId" class="form-control" asp-items="ViewBag.Courses">
                            <option value="">-- выберите курс --</option>
                        </select>
                    </div>

                    <div class="form-group" id="teacherSelect">
                        <label asp-for="TeacherId" class="control-label">Преподаватель</label>
                        <select asp-for="TeacherId" class="form-control" asp-items="ViewBag.Teachers">
                            <option value="">-- выберите преподавателя --</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label asp-for="ParentId" class="control-label">Parent</label>
                            <select asp-for="ParentId" class="form-control" asp-items="ViewBag.Parents"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }

        <script>
            function toggleFields() {
                const isPrivate = document.getElementById('isPrivateCheckbox').checked;
                const groupSelect = document.getElementById('groupSelect');
                const courseSelect = document.getElementById('courseSelect');
                const teacherSelect = document.getElementById('teacherSelect');

                if (isPrivate) {
                    groupSelect.style.display = 'none';
                    document.querySelector('[name="GroupId"]').value = "";
                    courseSelect.style.display = 'block';
                    teacherSelect.style.display = 'block';
                } else {
                    groupSelect.style.display = 'block';
                    courseSelect.style.display = 'none';
                    teacherSelect.style.display = 'none';
                    document.querySelector('[name="CourseId"]').value = "";
                    document.querySelector('[name="TeacherId"]').value = "";
                }
            }

            document.getElementById('isPrivateCheckbox').addEventListener('change', toggleFields);
            window.addEventListener('DOMContentLoaded', toggleFields);
        </script>
    }

</body>
</html>
