@model List<WebApplicationMVC.Models.Database.Student>

@{
    ViewData["Title"] = "Дети родителя";
}
<style>
    body {
        padding-top: 50px;
    }
</style>

<div class="d-flex align-items-center mb-4">
    <div class="me-3" style="margin-left: -60px;">
        <a asp-controller="Users" asp-action="Index" class="text-decoration-none text-dark">
            <i class="bi bi-arrow-left fs-3"></i>
        </a>
    </div>

    <div class="container">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>

@if (Model.Count == 0)
{
    <p>У этого родителя нет привязанных детей.</p>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ФИО</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@student.Id">
                            @student.FirstName @student.LastName
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
