body {
	padding-top: 50px;
}

	.btn-custom:hover {
		background-color: #469796; /* Темнее основной цвет при наведении */
		color: white; /* Сохраняем белый текст */
	}
.btn-save {
	background-color: #6ACC61;
	color: white;
	border: none;
	margin-top: 15px;
}

	.btn-save:hover {
		background-color: #449B3C;
		color: white;
	}
.btn-delete {
	background-color: #E24E51;
	color: white;
	border: none;
	margin-top: 15px;
}


.button-container {
        display: flex;
        align-items: center;
        gap: 10px;
    }

.btn-custom {
	background-color: #7AB8B7;
	color: white; 
	border: none; 
	margin: 0; 
	padding: 8px 16px;
	font-size: 16px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.btn-back {
	
}
