<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        body {
            padding-top: 100px;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        .nav {
            display: block;
            width: 200px;
            padding: 10px;
            margin: 5px;
            text-align: center;
            border: 1px solid black;
            border-radius: 5px;
            background-color: white;
            cursor: pointer;
            text-decoration: none;
            color: black;
        }

            .nav:hover {
                color: black;
                background-color: #f0f0f0;
            }


        .avatar {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
            border: 1px solid black;
        }

        .name {
            font-weight: bold;
            margin-top: 10px;
        }

        .exit-button {
            background-color: #00aaff;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
        }

            .exit-button:hover {
                background-color: #0088cc;
            }
    </style>
</head>
<body>
    <div class="wrapper">
        <img src="~/images/icon.png" alt="Аватар" class="avatar">

        @if (User.Identity?.IsAuthenticated ?? false)
        {
            <div class="name">
                <p>@(User.Identity?.Name)</p>
            </div>
            <p>
                ЛК преподователя
            </p>
            <a asp-action="MySchedule" class="nav">Мое расписание</a>
@*             <a asp-controller="Groups" asp-action="Index" class="nav">Группы</a>
            <a asp-controller="Lessons" asp-action="Index" class="nav">Занятия</a>
            <a asp-controller="Students" asp-action="Index" class="nav">Студенты</a> *@

            <form asp-controller="Auth" asp-action="Logout" method="post">
                <button type="submit" class="exit-button">Выйти</button>
            </form>
            @* <a class="btn btn-logout" asp-controller="Auth" asp-action="Logout" method="post">
                                <i class="bi bi-box-arrow-in-right me-1"></i>Выйти
                            </a> *@
        }
    </div>

</body>
</html>
