<p>Страница для пользователей</p>

@if (User.Identity?.IsAuthenticated ?? false)
{
    <p>Пользователь авторизован</p>
    <form asp-controller="Auth" asp-action="Logout" method="post">
        <button type="submit">Logout</button>
    </form>
}
else
{
    <p>Пользователь НЕ авторизован</p>
}