@model WebApplicationMVC.ViewModels.Users.EditUserFormModel

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <link rel="stylesheet" href="~/css/action.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>

    <div class="d-flex align-items-center mb-4">
        <div class="me-3" style="margin-left: -60px;">
            <a asp-controller="Users" asp-action="Index" class="text-decoration-none text-dark">
                <i class="bi bi-arrow-left fs-3"></i>
            </a>
        </div>

        <div class="container">
            <h4>Пользователь</h4>
        </div>
    </div>
    <div class="container">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Login" />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Login" class="control-label"></label>
                    <input asp-for="Login" class="form-control" disabled />
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="MiddleName" class="control-label"></label>
                    <input asp-for="MiddleName" class="form-control" />
                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="Password" class="form-control" id="passwordInput" />
                        <button type="button" class="btn btn-outline-secondary" onclick="generatePassword()" title="Generate Password">
                            <i class="bi bi-shuffle"></i>
                        </button>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <small id="copyMessage" class="form-text text-success" style="display:none;">Password copied!</small>

                <div class="form-group">
                    <label asp-for="Number" class="control-label"></label>
                    <input asp-for="Number" class="form-control" type="tel" />
                    <span asp-validation-for="Number" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DateOfBirth" class="control-label"></label>
                    <input asp-for="DateOfBirth" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-custom" />
                </div>
            </form>
        </div>
    </div>

    </div>

    <script type="text/javascript">
        function generatePassword(length = 12) {
            const charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!#$%^&*()";
            let password = "";
            for (let i = 0; i < length; i++) {
                const randomIndex = Math.floor(Math.random() * charset.length);
                password += charset[randomIndex];
            }
            document.getElementById("passwordInput").value = password;

            const input = document.getElementById("passwordInput");
            input.select();
            input.setSelectionRange(0, 99999);
            navigator.clipboard.writeText(input.value).then(function () {
                const msg = document.getElementById("copyMessage");
                msg.style.display = "block";
                setTimeout(() => msg.style.display = "none", 2000);
            });

            input.blur();
        }
    </script>

</body>
</html>
