<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<style>
        .nav{
            color: black !important;
            font-size: 20px;
        }
</style>
</head>
<body>
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <p>@(User.Identity?.Name)</p>
    }
    else
    {
        <a class="btn btn-login" asp-controller="Auth" asp-action="Login">
            <i class="bi bi-box-arrow-in-right me-1"></i>Вход
        </a>
    }

    <ul class="navbar-nav mx-auto">
        <li class="nav-item">
            <a class="nav" asp-controller="Courses" asp-action="Index">Курсы</a>
        </li>
    </ul>

    <ul class="navbar-nav mx-auto">
        <li class="nav-item">
            <a class="nav" asp-controller="Groups" asp-action="Index">Группы</a>
        </li>
    </ul>
</body>
</html>
