<p>
    ЛК администратора
</p>

<ul class="navbar-nav mx-auto">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Courses" asp-action="Index">Курсы</a>
    </li>
@*     <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Цены</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Контакты</a>
    </li> *@
</ul>